*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

nav{
    padding: 1rem;
    background-color: rgb(78, 78, 78);
}

.nav-con{
    display: flex;
    justify-content: space-between;
}

.logo a{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu{
 display: flex;
 list-style: none;
 align-items: center;
}

.menu li{
 margin: 0 1rem;
}

.menu li a{
    color: white;
    text-decoration: none;
}

.maincontent{
    background-color: rgb(240, 240, 227)
}

.maincontent-con{
    display: flex;
}

.maincontent-info{
    width: 100%;
    padding: 2rem;
}

.maincontent-info h3{
    font-size: 2rem;
}

.maincontent-info p{
    margin: 1rem 0;
}

.maincontent-info .maincontent-btn{
    background-color: rgb(250, 234, 15);
    color: rgb(5, 5, 5);
    padding:  1rem;
    border-radius: 10px;
    text-decoration: none;
}

.maincontent-img{
    width: 100%;
    padding: 2rem;
    border-radius: 5px;
}

.content-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.content-title{
    margin: 2rem 0;
}

.content-item img{
    width: 100%;
}

.content-item h4{
    margin-top: 1rem ;
}

.content-item p{
    margin:  1rem 0;
}
.content-item a{
    display: inline-block;
    color: rgb(0, 0, 0);
    background-color: yellow;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.footer-top{
    margin-top: 2rem;
    padding: 3rem;
    background-color: rgb(78, 77, 77);
    color: rgb(255, 255, 255);
}

.footer-top-con{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    column-gap: 2rem;
}

.footer-top-item-con{
    display: flex;
    margin: 1rem 0;
}

.footer-top-item-con .date{
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

.footer-top-item:nth-child(2) h4,
.footer-top-item:nth-child(3) h4{
    margin-bottom: ;
}

.footer-buttom{
    background-color: white;
    text-align: center;
}